.not_only {
    background: rgb(35,33,33);
    background: linear-gradient(90deg, rgba(84,67,54,1) 0%, rgba(35,33,33,1) 35%); 
    
}
.not_only__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: $color-nav;
    
}
.not_only__content {
padding-right: 42px;
width: 460px;
height: 322px;
left: 0px;
}

.not_only__button {
    padding-top: 42px;
}

.subtitle {
    letter-spacing: -0.03em;
    margin-top: -10px;
}