.friend__wrapper {
    background-color: #F6F6F6;
    margin: 0 40px 0 40px;
    max-width: 1280px;
}


.friend__content {
    font-family: 'Georgia';
    font-style: normal;
    max-width: 400;
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #545454;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
    word-wrap:normal;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;

    .arrow-1 {
    display: flex;
    align-items: center;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    left: 0px;
    top: 192px;
    right: 53px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    }
    
    .arrow-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    left: 1200px;
    top: 192px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    }
    
}
.pets{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}
.pet_name {
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

.layout-3-colomn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button_primary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__arrow_left {
    padding-right: 20px;
}