$color-brand: #F1CDB3;
$color-background: #F6F6F6;
$color-text: #545454;
$color-heading: #FFFFFF;
$color-donation:#B2B2B2;
$color-nav: #CDCDCD;
$color-button-text: #292929;
$color-button-primary:#FDDCC4;
$color-button-second: #FAFAFA;


$content-width: 1200px;
$tablet-wigth: 768px;
$mobile-wigth: 320px;


