.button { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 45px 15px;
    gap: 10px;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 0.06em;
}

.button_normal {
    background: $color-brand;
    border-radius: 100px;
    color: $color-button-text;
}

.button_bordered {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    color: $color-button-text;
    background: $color-button-second;

}

.button_normal:hover {
    background: $color-button-primary;
    border-radius: 100px;
    color: $color-button-text;
}

.button_bordered:hover {
    background: $color-button-primary;
    border-radius: 100px;
    color: $color-button-text;
}