html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 5.7rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 4.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
}

.button {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 15px 45px 15px;
  gap: 10px;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

.button_normal {
  background: #F1CDB3;
  border-radius: 100px;
  color: #292929;
  cursor: pointer;
}

.button_bordered {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  color: #292929;
  background: #FAFAFA;
  cursor: pointer;
}

.button_normal:hover {
  background: #FDDCC4;
  border-radius: 100px;
  color: #292929;
  cursor: pointer;
}

.button_bordered:hover {
  background: #FDDCC4;
  border-radius: 100px;
  color: #292929;
  cursor: pointer;
  border: 2px solid transparent;
}

.anchor {
  text-decoration: none;
  cursor: pointer;
  color: #292929;
}

.wrapper {
  max-width: 1200px;
}

.header {
  background: rgb(35, 33, 33);
  background: linear-gradient(90deg, rgb(84, 67, 54) 0%, rgb(35, 33, 33) 35%);
  padding: 42px 0 102px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  margin: 0 39px 0 41px;
}

.navigation {
  display: flex;
}

.navigation__link {
  list-style: none;
  margin: 0 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  font-family: "Arial";
  color: #CDCDCD;
}
.navigation__link .text_decor {
  text-decoration: none;
  color: #CDCDCD;
  cursor: pointer;
}

.header__navigation {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.active_li {
  border-bottom: 3px solid #F1CDB3;
}

.logo {
  text-decoration: none;
  display: inline-block;
}

.footer {
  background: rgb(35, 33, 33);
  background: linear-gradient(90deg, rgb(84, 67, 54) 0%, rgb(35, 33, 33) 35%);
  max-width: 1280px;
  font-family: Georgia, sans-serif;
  padding: 40px 0 0 0;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
}

.footer-flex > div {
  width: 33%;
}

.footer-block {
  display: flex;
  flex-direction: column;
  min-width: 278px;
  max-width: 302px;
  padding: 0 80px 0 40px;
}
.footer-block a {
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #F1CDB3;
  padding-top: 33px;
}
.footer-block img {
  margin-top: 40px;
}

.donation {
  background-color: #F6F6F6;
}

.friend__wrapper {
  background-color: #F6F6F6;
  margin: 0 40px 0 40px;
  max-width: 1280px;
}

.friend__content {
  font-family: "Georgia";
  font-style: normal;
  max-width: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #545454;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
  word-wrap: normal;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slider .arrow-1 {
  display: flex;
  align-items: center;
  padding: 23px 19px;
  width: 52px;
  height: 52px;
  left: 0px;
  top: 192px;
  right: 53px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
}
.slider .arrow-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 19px;
  width: 52px;
  height: 52px;
  left: 1200px;
  top: 192px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
}

.pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}

.pet_name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.layout-3-colomn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button_primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__arrow_left {
  padding-right: 20px;
}

.not_only {
  background: rgb(35, 33, 33);
  background: linear-gradient(90deg, rgb(84, 67, 54) 0%, rgb(35, 33, 33) 35%);
}

.not_only__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 40px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;
}

.not_only__content {
  padding-right: 42px;
  width: 460px;
  height: 322px;
  left: 0px;
}

.not_only__button {
  padding-top: 42px;
}

.subtitle {
  letter-spacing: -0.03em;
  margin-top: -10px;
}

.about {
  background-color: #FFFFFF;
  max-width: 1280px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 40px;
}

.statistic {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 2.4rem;
  color: #4C4C4C;
  right: 175px;
}

.img_about {
  left: 175px;
}

.help_wrapper {
  background-color: #FFFFFF;
  margin: 0 40px 0 40px;
}

.help_content {
  position: absolute;
  width: 308px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 4.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*# sourceMappingURL=style.css.map */
